[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dhruman Bhadeshiya (dkbhadeshiya)
[access "refs/for/refs/*"]
	read = group user/Dhruman Bhadeshiya (dkbhadeshiya)
	push = group user/Dhruman Bhadeshiya (dkbhadeshiya)
	label-Code-Review = -2..+2 group user/Dhruman Bhadeshiya (dkbhadeshiya)
	label-Verified = -1..+1 group user/Dhruman Bhadeshiya (dkbhadeshiya)
	rebase = group user/Dhruman Bhadeshiya (dkbhadeshiya)
	removeReviewer = group user/Dhruman Bhadeshiya (dkbhadeshiya)
	submit = group user/Dhruman Bhadeshiya (dkbhadeshiya)
[access "refs/heads/*"]
	read = group user/Dhruman Bhadeshiya (dkbhadeshiya)
	create = group user/Dhruman Bhadeshiya (dkbhadeshiya)
	push = +force group user/Dhruman Bhadeshiya (dkbhadeshiya)
	pushMerge = group user/Dhruman Bhadeshiya (dkbhadeshiya)
[access "refs/tags/*"]
	push = group user/Dhruman Bhadeshiya (dkbhadeshiya)
	push = +force group user/Dhruman Bhadeshiya (dkbhadeshiya)
